body {
   font-size: 16px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   color: #fff;
}
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   background-color: #333;
}
._container{
   max-width: 1000px;
   padding: 0px 15px;
   margin: 0 auto;
}
/* ----------------- */
.main {
   margin: 30px 0px 0px 0px;
}
.main__blocks {
   padding: 30px 0px 0px 0px;
}
.main__texts {
   padding: 0px 0px 30px 0px;
   border-bottom: 1px solid rgb(36, 117, 70);
}
/* ----------------- */
.texts {
}
.texts__block {
   margin: 0px 0px 30px 0px;
   line-height: 1.2;
}
.texts__block h2{
   margin: 0px 0px 10px 0px;
   font-size: 40px;
}
.texts__block_10px p {
   font-size: 10px;
}
.texts__block_12px p {
   font-size: 12px;
}
.texts__block_14px p {
   font-size: 14px;
}
.texts__block_16px p {
   font-size: 16px;
}
.texts__block_18px p {
   font-size: 18px;
}
.texts__block_20px p {
   font-size: 20px;
}
.texts__block_22px p {
   font-size: 22px;
}
/* ----------------- */
.blocks {
}
.blocks__row {
   display: flex;
   align-items: center;
   flex-direction: column;
}
.blocks__link {
   background-color: rgb(99, 179, 25);
   border-radius: 50%;
   margin: 0px 0px 30px 0px;
   position: relative;
}
.blocks__link span {
   position: absolute;
   color: #fff;
   text-transform: uppercase;
   font-size: 18px;
   top: 50%;
   left: 110%;
   transform: translate(0, -50%);
}
.blocks__link_1 {
   width: 100px;
   height: 100px;
}
.blocks__link_2 {
   width: 90px;
   height: 90px;
   background-color: rgb(179, 176, 25);
}
.blocks__link_3 {
   width: 80px;
   height: 80px;
   background-color: rgb(25, 179, 38);
}
.blocks__link_4 {
   background-color: rgb(25, 179, 141);
   width: 70px;
   height: 70px;
}
.blocks__link_5 {
   background-color: rgb(25, 40, 179);
   width: 60px;
   height: 60px;
}
.blocks__link_6 {
   background-color: rgb(105, 25, 179);
   width: 50px;
   height: 50px;
}
.blocks__link_7 {
   background-color: rgb(166, 25, 179);
   width: 40px;
   height: 40px;
}
.blocks__link_8 {
   background-color: rgb(179, 25, 76);
   width: 30px;
   height: 30px;
}
.blocks__link_9 {
   background-color: #000;
   width: 20px;
   height: 20px;
}
.blocks__link_10 {
   background-color: rgb(255, 72, 0);
   width: 10px;
   height: 10px;
}
